<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.isel.pdm.yamda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/yamda_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.SearchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.MovieListActivity"
            android:label="@string/title_activity_movie_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.MovieActivity"
            android:label="@string/title_activity_movie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.CreditsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name=".activitys.PreferencesActivity"/>
        <service
            android:name=".services.MovieNotifyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.DataUpdateService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <provider
            android:name=".persistentData.YAMDAContentProvider"
            android:authorities="pt.isel.pdm.yamda"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false" />


    </application>

</manifest>